.table{
    border: solid black;
    /* border-collapse: collapse; */
    width: 100%;
}

.division{
    border: solid black;
    width: 50%;
    margin: auto;
}

.caption{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

.t-row{
    border: solid black;
    border-collapse: collapse;
}